body {
    background: #ECEFF1;
}

.error-boundary {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-boundary .title {
    font-size: 1.5em;
    text-align: center;    
}

.error-boundary .message {
    margin: 0px 40px;
    text-align: center;    
}

.error-boundary .btn-retry {
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
}